.section {
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section:nth-child(0) {
    margin-top: 64px;
}

.content {
    min-height: calc(100vh - 64px);
    width: 100vw;
    max-width: 1024px;

    margin: 0px 50px;
    padding: 100px 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    overflow: hidden;
}
