.section {
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.section:nth-child(0) {
    margin-top: 64px;
}

.content {
    min-height: calc(100vh - 64px);
    width: 100vw;
    max-width: 1024px;

    margin: 0px 50px;
    padding: 100px 25px;
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.column .content {
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .content{
        flex-direction: column;
        overflow: hidden;
}

    .section:nth-child(2) .content{
        flex-direction: column-reverse;
    }
}