@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  background-color: #FFFFFF;

  color: #333333;

  font-family: 'Roboto', sans-serif;
}

html, body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  text-align: justify;
}

h1 {
  text-align: justify;
  font-size: 36px;
}

h2 {
  text-align: justify;
  font-size: 30px;
}

p {
  font-size: 18px;

  text-indent: 1.2em;
}

hr {
  border: 2px #CCCCCC solid;
  width: 100vw;
}

a {
  color: #5ED3F3;
}