:root {
  background-color: #FFFFFF;

  color: #333333;

  font-family: 'Roboto', sans-serif;

  --react-color: #5ED3F3;
  --hover-react-color: #3CB1D1;
  --white: #FFFFFF;
  --text: #333333;
  --border: #CCCCCC;
}

body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

button {
  border: none;
  
  background-color: transparent;
}